{% extends "base.html" %}

{% block content %}
  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  <h2>Thank You for Completing the Survey!</h2>
  <p>We appreciate your feedback.</p>
  <form action="{{ url_for('reset_survey') }}" method="POST">
    <button type="submit">Start Over</button>
</form>
{% endblock %}
